---
layout: default
---
<div class="home wrapper">

  <!-- <h1 class="page-heading">文章</h1> -->
  <div class="sidebar">
      <div class="site-nav">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="site-nav">
        <a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
      </div>

      <div class="sidebar-block site-nav">
        <h3>随机引用</h3>
        <p>Research is to see what everybody else has seen, and to think what nobody else has thought.</p>
        <p>-Albert Szent-Gyorgyi</p>
      </div>

      <div class="sidebar-block">
        <h3>一些有趣的链接</h3>
        <ul>
        <li><a href="http://headsalon.org/">辉格博客</a></li>
        <li><a href="http://weibo.com/whigzhou">辉格微博</a></li>
        <li><a href="http://weibo.com/headsalon">海德沙龙微博</a></li>
        <li><a href="http://www.changhai.org/">卢昌海</a></li>
        <li><a href="http://www.jianshu.com/users/2f1c0190679d/latest_articles">塔塔酱</a></li>
        <li><a href="http://www.kylen314.com/">比特之理</a></li>
        <li><a href="http://marginalrevolution.com/">边际革命</a></li>
        <li><a href="http://www.rationaloptimist.com/blog/">Matt Ridley</a></li>
        <li><a href="http://cafehayek.com/">Cafe Hayek</a></li>

        </ul>
      </div>
  </div>

  <div class="left">
    <ul class="post-list">

<!--       {% for post in site.posts %}
        <li class="post-list-item">
          <h2 class="post-list-title">
              <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <p class="post-list-description">
              {{ post.excerpt | strip}} <a class="readmore" href="{{ site.url }}{{ post.url }}">阅读全文</a>
          </p>
        </li>
      {% endfor %} -->
      {% for post in paginator.posts %}
        <li class="post-list-item">
          <h2 class="post-list-title">
              <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <p class="post-list-description">
              {{ post.excerpt | strip}} <a class="readmore" href="{{ site.url }}{{ post.url }}">阅读全文</a>
          </p>
        </li>
      {% endfor %}
    </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <div style="float:left" class="page-prev">
        <a href="{{ paginator.previous_page_path }}" class="previous">前一页</a>
      </div>
    {% endif %}
    {% if paginator.next_page %}
    <div style="float:right" class="page-next">
      <a text-align:right href="{{ paginator.next_page_path }}" class="next">后一页</a>
    </div>
    {% endif %}
  </div>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

  </div>
</div>
