---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">文章</h1> -->
  <div class="col-md-8">
    <ul class="post-list">

      {% for post in site.posts %}
        <li class="post-list-item">
          <h2 class="post-list-title">
              <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <p class="post-list-description">
              {{ post.excerpt | strip}} <a class="readmore" href="{{ site.url }}{{ post.url }}">阅读全文</a>
          </p>

        </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Pagination links -->
<!--   <div class="pagination">
    {% if paginator.previous_page %}
      <div style="float:left" class="page-prev">
        <a href="{{ paginator.previous_page_path }}" class="previous">前一页</a>
      </div>
    {% endif %}
    {% if paginator.next_page %}
    <div style="float:right" class="page-next">
      <a text-align:right href="{{ paginator.next_page_path }}" class="next">后一页</a>
    </div>
    {% endif %}
  </div>
 -->
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
